.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.content>* {
  flex-basis: 100%;
}

#Links h2 {
  text-align: center;
}

#Settings, #LinkForm {
  background: rgba(0, 0, 0, 0.5);
  border: solid 0.1rem black;
  line-height: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  max-width: 50rem;
  border-radius: 2rem;

}

td {
  vertical-align: top;
}

td textarea {
  width: 22.15rem;
  height: 11rem;
}