.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.content>* {
  flex-basis: 100%;
}

#Links h2 {
  text-align: center;
}

#Settings, #LinkForm {
  background: rgba(0, 0, 0, 0.5);
  border: solid 0.1rem black;
  line-height: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  max-width: 80%;
  border-radius: 2rem;
  text-align: center;

}

.admin-tables {
  table-layout: fixed;
  width: 100%;
}

td {
  vertical-align: top;
}

td textarea {
  width: 22.15rem;
  height: 11rem;
}

tr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

tr > * {
  flex-basis: 100%;
}

@media only screen and (min-width: 375px) {
  #Settings, #LinkForm {
    max-width: 70%;
  }
}

@media only screen and (min-width: 425px) {
  #Settings, #LinkForm {
    max-width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  tr {
    /* flex-direction: row;
    flex-wrap: nowrap; */
    /* text-align: justify; */
    
  }
  #Settings, #LinkForm {
    max-width: 40%;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  tr {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: justify;
    
  }
  #Settings, #LinkForm {
    max-width: 40%;
    line-height: 4rem;
  }
}