.content {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
}
.content section {
    background-color: black;
    border: solid 0.5rem black;
    /* opacity: 0.5; */
}

.content aside {
    background-color: black;
    border: solid 0.5rem black;
    line-height: 3rem;
}

li {
    text-decoration: dotted;
}