@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

:root {
    --main-font-color: #b4711a;
    --nav-and-footer-bg: rgb(27, 26, 26);
    --body-bg-color: rgb(44, 41, 41);
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(44, 41, 41);
    font-family: 'Genos', sans-serif;
}

header figure {
    background-image: url("../images/vla-g60630cd30_1920.jpg");
    height: 15rem;
    background-position: 27% 35%;
    background-repeat: no-repeat;
    background-size: cover;


}

main {
    margin: 2rem;
    background-image: url("../images/earth-g0ed700eab_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
}

/* generic colors: */
h1, h2, h3, h4 {
    color: var(--main-font-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;

}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

nav {
    padding: 2rem;
    background-color: var(--nav-and-footer-bg);
    border-bottom: solid 0.25rem wheat;
}

a, p, li, label, td, input, button, textarea {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--main-font-color);
}



.error-message {
    /* font-size: 1.8rem; */
    color: red;
}

.flex-container {
    line-height: 3rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.flex-container>* {
    flex-basis: 100%;
}

#loginbutton {
    box-sizing: content-box;
    background-color: var(--main-font-color);
    border-radius: 0.5rem;
    color: rgb(202, 197, 176);
    border: 0.175rem solid var(--main-font-color);
    
}

#loginbutton:hover {
    cursor: pointer;
    color: rgb(243, 240, 229);
}

#logoutbutton {
    background-color: var(--main-font-color);
    border-radius: 0.5rem;
    color: rgb(202, 197, 176);
    border: 0.2rem solid var(--main-font-color);
    /* font-size: 1.4rem; */
}

#logoutbutton:hover {
    cursor: pointer;
    color: rgb(243, 240, 229);
}

.login-logout-form {
    display: block;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

/* Mobile nav view: */
.topnav {
    overflow: hidden;
    position: relative;
}

/* Hide links inside nav menu */
.topnav #navLinks {
    display: none;
}


/* Style hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.topnav a.icon:hover {
    background-color: rgba(208, 211, 180, 0.8);
    
}
#navLinks h2 {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.5rem;
}
#navLinks h2:hover {
    background-color: black;
}

.icon {
    font-size: 2.5rem;
    padding: 1rem;
}

#navLinks form {
    margin-top: 1rem;
}

.submit-link-btn {
    /* margin-top: 2rem; */
    background-color: inherit;
    border-radius: 1rem;
}

.submit-link-btn:hover {
    border: solid 0.3rem rgba(219, 199, 155, 0.8);
    color: #ee8b0a;
    cursor: pointer;
}

.delete-link-btn {
    color: whitesmoke;
    background-color: red;
    border-radius: 1rem;
}

.delete-link-btn:hover {
    cursor: pointer;
}

footer {
    background-color: var(--nav-and-footer-bg);
    text-align: center;
    padding: 2rem;
}


@media only screen and (min-width: 375px) {
    header figure {
        height: 15rem;
        background-position: 50% 40%;
    }
}

@media only screen and (min-width: 426px) {
    header figure {
        height: 17rem;
        background-position: 50% 50%;
    }
}

@media only screen and (min-width: 768px) {
    .flex-container>* {
        flex-basis: 0;
    }

    .login-logout-form {
        display: flex;
        /* flex-direction: row; */
    }

    #loginbutton {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    header figure {
        height: 29rem;
        background-position: 50% 50%;
    }

    .topnav #navLinks {
        display: flex;
    }

    .topnav a.icon {
        display: none;

    }
    nav {
        padding: 1rem;
    }

}

@media only screen and (min-width: 1024px) {
    header figure {
        height: 30rem;
        background-position: 50% 50%;
    }
}