@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

:root {
    --main-font-color: #b4711a;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(44, 41, 41);
    font-family: 'Genos', sans-serif;
}

header figure {
    background-image: url("../images/vla-g60630cd30_1920.jpg");
    min-height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

main {
    margin: 2rem;
    background-image: url("../images/earth-g0ed700eab_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
}
/* generic colors: */
h1, h2, h3 {
    /* margin-top: -1rem; */
    color: var(--main-font-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;

}

h3 {
    font-size: 3rem;
}

nav {
    padding: 2rem;
    background-color: rgb(27, 26, 26);
    border-bottom: solid 0.25rem wheat;
}

a, p , li, label, td {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--main-font-color);
}

.error-message {
    /* font-size: 1.8rem; */
    color: red;
}

.flex-container {
    line-height: 3rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.flex-container > * {
    flex-basis: 100%;
}

#loginbutton {
    /* padding: 0.5rem; */
    box-sizing:content-box;
    background-color: var(--main-font-color);
    border-radius: 0.5rem;
    color: rgb(202, 197, 176);
    border: 0.175rem solid var(--main-font-color);
    /* border-left: 0; */
    font-size: 1.4rem;
}

#loginbutton:hover {
    cursor: pointer;
}

#logoutbutton {
    background-color: var(--main-font-color);
    border-radius: 0.5rem;
    color: rgb(202, 197, 176);
    border: 0.2rem solid var(--main-font-color);
    font-size: 1.4rem;
}
#logoutbutton:hover {
    cursor: pointer;
}

.login-logout-form {
    display: block;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

/* .login-logout-form *> {
    flex-basis: 100%;
} */

@media only screen and (min-width: 768px) {
    .flex-container > * {
        flex-basis: 0;
    }
    .login-logout-form {
        display: flex;
        /* flex-direction: row; */
    }
    #loginbutton {
        border-radius: 0 0.5rem 0.5rem 0;
    }
  }



