html {
    font-size: 62.5%;
}

body {
    background-color: rgb(44, 41, 41);
    
}

header figure {
    background-image: url("../images/steampunk-door.jpg");
    min-height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

main {
    margin: 2rem;
    background-image: url("../images/galaxy-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
}
/* generic colors: */
h1, h2, h3, a, p, label, li {
    color: brown;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;

}

h3 {
    font-size: 3rem;
}

nav {
    padding: 2rem;
    background-color: rgb(27, 26, 26);
    border-bottom: solid 0.25rem wheat;
}

a, p , li, label {
    font-size: 1.8rem;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

section {
    margin: 2rem;
}

