<!-- Form for adding a link -->
<form action="#" th:action="@{/link/add}" method="post" th:fragment="link-form" th:object="${link}">
	<table class="admin-tables">
		<thead>
			<tr>
				<th>
					<h1>Add links here:</h1>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><label for="title">Title: </label></td>
				<td><input type="text" th:field="*{title}" minlength="4" maxlength="10" name="title"></td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></td>
			</tr>
			<tr>
				<td><label for="description">Description: </label></td>
				<td>
					<textarea name="description" cols="20" rows="5" th:field="*{description}" minlength="1"
						maxlength="254"></textarea>
				</td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message"></td>
			</tr>
			<tr>
				<td><label for="keyword">Keyword: </label></td>
				<td><input type="text" th:field="*{keyword}"></td>
				<td th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}" class="error-message"></td>
			</tr>
			<tr>
				<td><label for="url">Url for link: </label></td>
				<td><input type="text" th:field="*{url}"></td>
				<td th:if="${#fields.hasErrors('url')}" th:errors="*{url}" class="error-message"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<input type="submit" value="Add link!" class="submit-link-btn">
				</td>
			</tr>
		</tfoot>
	</table>
</form>
<!-- Form to change password -->
<form th:action="@{/update-admin}" method="post" th:fragment="update-password-fragment">
	<table class=".admin-tables">
		<thead>
			<tr>
				<h1>Change admin password</h1>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><label for="oldPassword">Input old password:</label></td>
				<td><input type="password" th:name="oldPassword"></td>
			</tr>
			<tr>
				<td><label for="newPassword">Input new password:</label></td>
				<td><input type="password" th:name="newPassword" id=""></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><input type="submit" value="Update" class="submit-link-btn"></td>
			</tr>
		</tfoot>
	</table>
</form>
<!-- Form for modal -->
<div th:fragment="update-form-modal">
	<form action="#" th:action="@{/update-link/{id}(id=${getLink.id})}" method="post">
		<table class="modal-content">
			<thead class="modal-header">
				<tr>
					<th><h3>Modify link ID: <span th:text="${getLink.id}"></span></h3></th>
					<th><span th:id="test-+${getLink.id}" th:class="close">&times;</span></th>
				</tr>
			</thead>
			<tbody class="modal-body">
				<tr>
					<td><label for="title">Title: </label></td>
					<td><input type="text" th:name="title"></td>
				</tr>
				<tr>
					<td><label for="description">Description: </label></td>
					<td><textarea th:name="description" cols="20" rows="5"></textarea></td>
				</tr>
				<tr>
					<td><label for="keyword">Keyword: </label></td>
					<td><input type="text" th:name="keyword"></td>
				</tr>
				<tr>
					<td><label for="url">Url for link: </label></td>
					<td><input type="text" th:name="url"></td>
				</tr>
			</tbody>
			<tfoot class="modal-footer">
				<tr>
					<td>
						<input type="submit" value="Submit" class="submit-link-btn">
					</form>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Danger zone here</h3>
						<hr>
						<!-- Form for deleting link: -->
						<form th:action="@{/delete-link/{id}(id=${getLink.id})}" method="post">
							<input type="submit" value="Delete link!" class="delete-link-btn">
						</form>
					</td>
				</tr>
			</tfoot>
		</table>
</div>
