<nav th:fragment="navigation">
    <ul class="flex-container">
        <li><a th:href="@{/index}"><h2>Frontpage</h2></a></li>
        <li><a th:href="@{/index}"><h2>About</h2></a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/admin}"><h2>Admin page</h2></a></li>
        <!-- th:action -->
        <form th:action="@{/login}" sec:authorize="isAnonymous()" method="post" >
            <ul class="login-logout-form">
                <li><label for="name">Tunnus: </label></li>
                <li><input type="text" name="username" id=""></li>
                <li><label for="password">Salasana: </label></li>
                <li><input type="password" name="password" id=""></li>
                <li><input type="submit" value="Log in!" id="loginbutton"></li>
            </ul>
        </form>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <input type="submit" value="logout" id="logoutbutton">
        </form>
    </ul>
</nav>