<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Admin page')">
</head>

<!-- <body onload="loadLinks('sm-card', true)"> -->

<body>
	<header th:replace="fragments/header :: header-fragment"></header>
	<main>
		<!-- Tab for content: -->
		<div class="tab">
			<button class="tablinks" onclick="openTab(event, 'Links')">
				<p>Modify links</p>
			</button>
			<button class="tablinks" onclick="openTab(event, 'LinkForm')">
				<p>Add links</p>
			</button>
			<button class="tablinks" onclick="openTab(event, 'Settings')">
				<p>Settings</p>
			</button>
		</div>

		<!-- Tab content: -->
		<div class="content">
			<!-- Section for Displaying links -->
			<section id="Links" class="tabcontent">
				<div id="links" class="container">
					<div id="links" class="content" th:each="getLink : ${links}">
						<div class="card sm-card">
							<div class="card-container">
								<h3>Title: <span th:text="${getLink.title}"></span></h3>
								<p>Description: <span th:text="${getLink.description}"></span></p>
								<p>Tag: <span th:text="${getLink.keyword}"></span></p>
								<a th:href="${getLink.url}" target="_blank">Linkki sivulle</a>
								<br>
								<button th:id="${getLink.id}" onclick="toggleModal(this)" class="submit-link-btn">Modify Link</button>
								<!-- Display modal: -->
								<div th:id="mainModal-+${getLink.id}" class="modal">
									<!-- Content for modal: -->
									<div th:replace="fragments/form :: update-form-modal" th:with="getLink"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- section for adding links -->
			<section id="LinkForm" class="tabcontent">
				<form th:replace="fragments/form :: link-form"></form>
			</section>
			<!-- Section for updating admin password -->
			<section id="Settings" class="tabcontent">
				<form th:replace="fragments/form :: update-password-fragment"></form>
			</section>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer-fragment"></footer>
</body>
</html>