<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Frontpage')">
</head>

<body>
    <header th:replace="fragments/header :: header-fragment"></header>
    <main>
        <section class="index-main-section">
            <h1>Interesting links: </h1>
            <hr>
        </section>
        
        <section class="index-link-section">
            <h3>Linkit:</h3>
            <!-- <div th:if="${!links.empty}"> -->
                <ul th:each="link : ${links}">
                    <li th:text="${link.title}"></li>
                </ul>
            <!-- </div> -->
        </section>

    </main>
    <footer>

    </footer>
</body>

</html>