<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='About')">
</head>

<body>
    <header th:replace="fragments/header :: header-fragment"></header>
    <main>
        <section class="index-main-content">
            <h1>About</h1>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et nostrum minima adipisci tempore unde? Rem maxime, blanditiis repellat doloribus possimus dicta debitis ab veritatis consequatur, et cumque ducimus quaerat nam!</p>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>