<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='About')">
</head>

<body>
    <header th:replace="fragments/header :: header-fragment"></header>
    <main>
        <section class="index-main-content">
            <h1>About</h1>
            <hr>
            <article>
                <p>Welcome! This is a simple page, where after login, you can add, remove and modify different links to other pages in the web.</p>
                <p>On the link page you can search these links by different tag names.</p>
                <p>Please note that this is a practice project, so user accounts are not generated, they are given if necessary.</p>
                <p>Project can be found on Github over <a href="https://github.com/SJarno/linkdatabase-hbc">Here</a></p>
            </article>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment"></footer>
</body>

</html>